<?xml version="1.0" encoding="utf-8"?>
<project>
	<meta title="MexiKombat" package="com.cheeses.mexikombat" version="1.0.0" company="" />

 	<app file="Main" main="Main" path="bin" />

	<window fps="30" background="0xececec" orientation="landscape" />
	<window width="1024" height="640" resizable="true" unless="mobile" />
	<window width="0" height="0" if="mobile" />
	<window fullscreen="true" if="mobile" />
	<window orientation="landscape" vsync="true" if="cpp" />

	<source path="src" />


	<haxelib name="openfl-bitfive" if="html5" />
	<haxelib name="HaxePunk"/>
	<haxelib name="sfxr" /> 

	<assets path="assets/graphics" rename="graphics" include="*.png|*.jpg" />
	<assets path="assets/audio" rename="audio" include="*.mp3" if="flash" />
	<assets path="assets/audio" rename="audio" include="*.wav|*.ogg|*.m4a" unless="flash" />
	<assets path="assets/font" rename="font" include="*.ttf" />

	<icon path="assets/logo.svg" />
</project>
