actuate: [1.8.2]
box2d: [1.2.3]
HaxePunk: [2.5.3]
hxcpp: [3.1.68]
layout: [1.2.0]
lime: [2.1.1]
openfl-samples: [2.2.2]
openfl: [2.2.6]
sfxr: 0.1.4 git [dev:/home/fritz/.haxe/lib/sfxr/git]
swf: [1.7.7]

